.left-part-header span:first-child {
    font-family: fantasy;
    font-size: 34px;
    color: #ffbb19;
}

.left-part-header span:last-child {
    font-family: fantasy;
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 9px;
    left: 20px;
}

.left-part-header {
    float: left;
}

.right-part-header {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    font-family: "Tahoma";
    font-size: 11px;
}

#active {
    color: #536d7d;
}

.right-part-header span a {
    text-decoration: none;
    color: #304653;
}

.not-active {
    display: none;
}