<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="teacherVid.pdf"
          class="ua.journal.web.view.pdf.TeacherPdfVid">
    </bean>
    <bean id="teacherVid.xls"
          class="ua.journal.web.view.excel.TeacherExcelVid">
    </bean>

    <bean id="teacherZvedVid.xls"
          class="ua.journal.web.view.excel.TeacherExcelZvedVid">
    </bean>

    <bean id="teacherZvedVid.pdf"
          class="ua.journal.web.view.pdf.TeacherPdfZvedVid">
    </bean>
</beans>